.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  opacity: .75;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #3b4049;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  position: relative;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  bottom: 10;
}

.logo-link {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* .typeform-popup {
  display: relative;
  width: 900px;
} */

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  right:0;
  bottom:0;
  top:0;
  border:0;
}