@import 'stylesheets/pdf.css';
@import 'stylesheets/reports.css';
@import 'stylesheets/privacy.css';

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  right:0;
  bottom:0;
  top:0;
  border:0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: rgb(25, 28, 54);
  height: 100%;
  width: 100%;
  left:0;
  right:0;
  bottom:0;
  top:0;
  border:0;
}

.frame > img {
  height: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  text-decoration: none;
}

@keyframes move {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  position: relative;
  color: antiquewhite;
  font-size: 1.7rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.fade-in.appear {
  opacity: 1;
}

#take-survey {
  position: relative;
  top: 50%;
  background-color: rgb(25, 28, 54);
  box-shadow: #0d6efd 0px 0px 1000px 10px;
  transition: box-shadow 2500ms ease-in;
  margin-top: 5rem;
}

#div-sentence {
  display: flex;
  justify-content: space-between;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */