.reports-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    /* background-image: linear-gradient(to right, #0e6a98 20%, #014483 30% 100%, #0e6a98 80%); */
    background-image: linear-gradient( #011e41, #014483);
    /* background-color: #014483; */
}

.report-container {
    position: relative;
    --width: 50vw;
    --height: calc(var(--width) * 0.56);
    width: var(--width);
    /* margin-top: 3rem; */
    /* height: var(--height); */
    z-index: 1;
    /* box-shadow: whitesmoke 0px 0px 7px 1px; */
    border: solid white 1px;
    /* border-radius: 0px 0px 4px 4px; */
    /* border-top: none; */
    /* padding-bottom: 2px; */
    max-width: 530px;
}

.privacy-cta-container {
    font-family: Roboto;
    position: absolute;
    bottom: 10px;
    width: 200px;
    left: calc(50% - 100px);
    color: lightgrey;
}

.ctas-container {
    font-family: Roboto;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: white;
}

.cta-container {
    display: flex;
    align-items: center;
}

.cta-img {
    margin-left: .5rem;
    transform: scaleY(.7);
    max-width: 50px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

.cta-txt {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    width: 100%;
}

.cta:hover {
    transform: scaleX(1.03);
}

.reports-header-container {
    /* margin-top: 3rem; */
    padding: .7rem;
    /* width: calc(50% - 1.4rem); */
    color: white;
    font-family: Roboto;
    /* max-height: 200px; */
    /* box-shadow: whitesmoke 0px 0px 7px 1px; */
    /* border: solid white 1px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none; */
    max-width: 530px;
}

.reports-signature {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.reports-header {
    font-size: 1.5rem;
}

.report-link {
    height: var(--height);
}

/* .report-container:hover {
    box-shadow: whitesmoke 0px 0px 10px 3px;
} */

.report-cover {
    width: var(--width);
    max-width: 530px;
    transform: translateY(2px);
}

.report-details-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    transition: all ease-in-out 500ms;
    z-index: -1;
}

.hidden {
    transform: translateY(-30px);
}

@media(max-width: 500px) {
    .report-container {
        width: 80vw;
    }

    .report-cover {
        width: 80vw;
    }

    .ctas-container {
        bottom: 15px;
    }

    .reports-header {
        font-size: 1.3rem;
    }

    .reports-signature {
        font-size: 1rem;
    }
}